body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: #1F2937;
    padding: 30px;
}

.information {
    padding: 30px;
}

.quote {
    background-color: #E5E7EB;
    padding: 30px;
}

.action {
    padding: 30px;
}

.footer {
    background-color: #1F2937;
    display: flex;
}